#main{
    padding-top: 80px;
    background-image: url("Assets/background.png");
    position: fixed;
    width: 350px;
    height: 700px;
    text-align: center;
}


p, h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: xx-large;
}

html, body {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


#buttons{
    margin-left: 75px;
    width: 200px;
    padding-left: 0px;
    border-radius: 1em;
    background-color: rgba(124, 123, 123, 0.872);
    opacity: 0.3;
    
}

#icon{
    width:170px;
    height:170px;
    border: 5em;
    background-color: transparent;
    margin-bottom: 30px;
}

.btn{
    width: 50px;
    height: 50px;
    border:none;
    background-color: transparent;
}

#songTitle{
    margin-top: 20px;
    text-align: center;
    font-size: x-large;
}

#artist{
    margin-top: 100px;
    text-align: center;
    font-size: x-large;
}
#credits{
    position: fixed;
    left:250px;
    font-size: small;
}